@import '../catalog_auth/catalog_auth.scss';
@import '../profile/profile.scss';
@import '../profile_favorits/profile_favorits.scss';

.profile_buttons_in_recomends {
    cursor:default;
    -webkit-font-family: 'Alegreya Sans SC', sans-serif;
    -moz-font-family: 'Alegreya Sans SC', sans-serif;
    -ms-font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    font-weight: 600; 
    width: 210px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    color: $favorite-color;
    border: 1px solid $favorite-color; 
}